twitter:
  CONSUMER_KEY: REWRITE_ME_using_info_from_https://apps.twitter.com/app/
  CONSUMER_SECRET: REWRITE_ME_using_info_from_https://apps.twitter.com/app/
  ACCESS_TOKEN: REWRITE_ME_using_info_from_https://apps.twitter.com/app/
  ACCESS_SECRET: REWRITE_ME_using_info_from_https://apps.twitter.com/app/
  USER_NAME: Your_twitter_username
rule: 2
offset: +05:00
